<style>
        
        h3{
            color: red;
        }
        .ft{
            
            border: 3px dotted black;
            
            padding: 2px;
            background-color: violet;


        }
        .a{
            text-align:center;
            background-color: aqua;
            border: 20px solid yellow;
            border-radius: 15px;
            padding: 15px;
            margin: 20px 200px 20px 200px;
            
        }
             
        .b{
            text-align: center;
            background-color: greenyellow;
            border: 20px solid yellow;
            border-radius: 15px;
            padding: 15px;
            margin: 20px 200px 20px 200px;
           

        }
        .c{
            text-align: center;
            background-color: skyblue;
            border: 20px solid yellow;
            border-radius: 15px;
            padding: 15px;
            margin: 20px 200px 20px 200px;
           
        }
        .title{
            text-align: center;
            
        }
        .bro{
            text-align: center;
            background-color: pink;
            margin-right: 30%;
        }
        
        
    </style>